<h2>Update Your Profile</h2>
<form method="post">
    <label>First Name</label>
    <input type="text" name="first" />
    <label>Last Name</label>
    <input type="text" name="last" />
    <label>E-mail Adress</label>
    <input type="email" name="email" />
    <label>Password</label>
    <input type="password" name="pwd" />
    <label>Age</label>
    <input type="number" name="age" />
    <label>City</label>
    <input type="text" name="city" />
    <label>Homepage</label>
    <input type="url" name="url" />
    <button class="btn" name="update">UPDATE</button>
</form>