<h2>welcome to Page</h2>
<form method="post">

    <label>Enter your E-mail adress</label>
    <input type="email" name="email" placeholder="E-mail Address" />
    <label>Enter your password</label>
    <input type="password" name="pwd" placeholder="password" />
    <input type="submit" name="submit" placeholder="Log In" />
</form>