<h2>welcome to log in</h2>
<form method="post">

    <label>Enter your E-mail adress</label>
    <input type="email" name="email" placeholder="E-mail Address" />
    <label>Enter your password</label>
    <input type="password" name="pwd" placeholder="password" />
<button class="btn" name="login">Log In</button></form>