<h2>I am petition template</h2>

<form method="post" type="hidden">
    <input type="text" name="first" placeholder="First Name" />
    <input type="text" name="last" placeholder="Last Name" />
    <input id="sign" type="hidden" name="sign" placeholder="Signature" />

   <div class="flex-row">
       <div class="wrapper">
           <canvas id="signature-pad" width="400" height="200"></canvas>
       </div>
       <div class="clear-btn">
           <button id="clear"><span> Clear </span></button>
       </div>
       <button id="submitbtn" type="submit">Sign In</button>
    </div>

</form>