<h2>Sign here to join the club</h2>

<form method="post" type="hidden">

    <input id="sign" type="hidden" name="sign" placeholder="Signature" />

    <div class="flex-row">
        <div class="wrapper">
            <canvas id="signature-pad" width="200" height="100"></canvas>
        </div>
        <button class="btn" type="submit">Submit</button>

    </div>

</form>
<div class="clear-btn">
    <button id="clear">Clear your signature </button>
</div>