<h2>I am petition template</h2>
<div class="container">
<form method="post">
    <input type="text" name="first" placeholder="First Name" />
    <input type="text" name="last" placeholder="Last Name" />
    <input type="text" name="sign" placeholder="Signature" />

   
    <button type="submit">Sign In</button>
    </div>
</form>