<h2>would be nice if you could tell us a bit more about YOURSELF</h2>
<form method="post">

    <label>Age</label>
    <input type="number" name="age" placeholder="How old are you?" />
    <label>City</label>
    <input type="text" name="city" placeholder="Where do you live? " />
     <label>Homepage</label>
    <input type="url" name="url" placeholder="Your Homepage" />
    <button class="btn" name="submitProfile">CONTINUE</button>
</form>