<h2>here are your fellow signers:</h2>
<div>
    <ul>{{#signers}}
        <li>{{> name}}<span>{{age}}</span> <a href="/signers/{{city}}">{{city}}</a></li>
        {{/signers}}
    </ul>
</div>
<a href="/logout"><button>Log out</button></a>