<h2>Thanks for signing</h2>
{{#signedData}}
    <a href="/signers">Here are the {{totalSig}} Signers</a>
    <img src="{{url}}" alt="loading" />
{{/signedData}}
<a href="/logout"><button>Log out</button></a>